@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf)
}

@import 'variables';

html {
    font-size: $root-font-size;
    font-family: $font-family;
    background-color: black;
}

body {
    margin: 0;
}

p {
    font-size: $paragraph-font-size;
}

#clear {
    position: absolute;
    top: 1em;
    right: 1em;
    border: 1px solid white;
    background: black;
    color: white;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    transition: all 0.25s ease;
    &:hover {
        color: black;
        background: white;
    }
    &:focus { outline: red }
}

