$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
// @import '~@fortawesome/fontawesome-free/scss/regular';

@font-face {
    font-family: 'Inconsolata';
    src: url(../fonts/Inconsolata-Regular.ttf)
}

@import 'variables';

html {
    font-size: $root-font-size;
    font-family: $font-family;
    background-color: black;
}

body {
    margin: 0;
}

p {
    font-size: $paragraph-font-size;
}

#clear {
    font-family: $font-family;
    font-size: 1em;
    position: absolute;
    top: 1em;
    right: 1em;
    border: 1px solid white;
    background: black;
    color: white;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    transition: all 0.25s ease;
    &:hover {
        color: black;
        background: white;
    }
    &:focus { outline: red }
}

#close {
    position: absolute;
    top: 0.8em;
    left: 1em;
    color: white;
    font-size: 1em;
}

#instructions {
    cursor: pointer;
    position: absolute;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 1em;
    top: calc(49% - 1em);
}